#epicodus {
  width: 80px;
  margin-top: -10px;
}

.title {
  height: 150px;
  background-image: url("../img/background.jpg");
  text-align: center;
}

.title h1 {
  margin-top: 0px;
  font-size: 50px;
  padding-top: 40px;
}

.navbar {
  margin-bottom: 0px;
}

.question-form {
  display: none;
}

.track-suggestion {
  display: none;
}

.no-track {
  display: none;
}

#nav-q {
  pointer-events: none;
  cursor: default;
}

#nav-track {
  pointer-events: none;
  cursor: default;
}
